// Base bg & font
$white: #fff;
$black: #000;
$react-grey: #282c34;

// .Navbar .Expand
$gray-light: #6c757d10;
$gray-hover: #6c757d20;
$gray-bg: #000000a9;
$pblue-light: #4c75f210;
$dark-blue: #000a1f;

// .Home .home-left
$blue: #00f;

// .Contact .Text
$orange-red: #ff4500;
$salmon: #fa8072;

$vgs-linear: linear-gradient(
  90deg,
  rgba(255, 0, 0, 1) 15%,
  rgba(27, 255, 0, 1) 85%
);

html {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  width: 100vw;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'archia';
}

h1 {
  font-size: 24px !important;
  font-weight: 700;
}

h2 {
  font-size: 18px !important;
  font-weight: 500;
}

h3 {
  font-size: 16px !important;
  font-weight: 500;
}

h4 {
  font-size: 14px !important;
  font-weight: 900;
}

h5 {
  font-size: 12px !important;
  font-weight: 900;
}

h6 {
  font-size: 10px !important;
  font-weight: 600;
}

// Mixins
@mixin base-card($height) {
  -moz-box-shadow: 0 0.1px 35px $black;
  -webkit-appearance: none !important;
  -webkit-box-shadow: 0 0.1px 35px $black;
  background: $gray-bg;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  height: $height;
  justify-content: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  // z-index: 99;
}

@mixin base-card-mobile {
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
}

.App {
  -ms-overflow-style: none; // Hide scrollbar for IE & Edge.
  background: $react-grey !important;
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  scrollbar-width: none; // Hide scrollbar for Firefox.

  // Hide scrollbar for Chrome, Safari and Opera.
  &::-webkit-scrollbar {
    display: none;
  }

  @function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(2000)}px #fff';
    @for $i from 2 to $n {
      $value: '#{$value} , #{random(2000)}px #{random(2000)}px #fff';
    }
    @return unquote($value);
  }

  @keyframes animStar {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-2000px);
    }
  }

  $shadows-small: multiple-box-shadow(700);
  $shadows-medium: multiple-box-shadow(200);
  $shadows-big: multiple-box-shadow(100);

  #stars1 {
    animation: animStar 50s linear infinite;
    background: transparent;
    box-shadow: $shadows-small;
    height: 1px;
    width: 1px;

    &::after {
      background: transparent;
      box-shadow: $shadows-small;
      content: '';
      height: 1px;
      position: absolute;
      top: 2000px;
      width: 1px;
    }
  }

  #stars2 {
    animation: animStar 100s linear infinite;
    background: transparent;
    box-shadow: $shadows-medium;
    height: 2px;
    width: 2px;

    &::after {
      background: transparent;
      box-shadow: $shadows-medium;
      content: '';
      height: 2px;
      position: absolute;
      top: 2000px;
      width: 2px;
    }
  }

  #stars3 {
    animation: animStar 150s linear infinite;
    background: transparent;
    box-shadow: $shadows-big;
    height: 3px;
    width: 3px;

    &::after {
      background: transparent;
      box-shadow: $shadows-big;
      content: '';
      height: 3px;
      position: absolute;
      top: 2000px;
      width: 3px;
    }
  }
}

.Navbar {
  a {
    color: inherit;
    text-decoration: none;
  }

  .Brand {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-align: center;

    img {
      width: 95px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .MenuButton {
    display: none;
  }

  .Items {
    margin: 0 80px;

    .NavItems {
      border-radius: 10px;
      float: left;
      margin: 30px 0;
      text-align: center;
      text-transform: uppercase;
      width: (100% / 4);

      span {
        font-family: Tahoma, Geneva, sans-serif;

        &:hover {
          background: $white;
          border-radius: 5px;
          color: $black;
          padding: 0.3rem 0.5rem;
        }
      }
    }
  }

  .Expand {
    background: $dark-blue;
    color: $white;
    display: flex;
    flex-direction: column;
    height: calc(100% - 9rem);
    overflow: auto;
    text-align: center;
    transform: none !important;
    width: 100vw;
    z-index: 9999;

    & > * {
      border-bottom: 1px solid $gray-light;
      border-top: 1px solid $gray-light;
      padding: 1.5rem;
      transition: all 0.15s ease-in-out;

      &:hover {
        background: $gray-hover;
      }

      span {
        &.focused {
          background: $pblue-light;
          padding: 0.25rem;
        }
      }
    }

    .Expand-bottom {
      align-self: center;
      border: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: auto;

      h5 {
        margin: 0;
      }

      &:hover {
        background: none;
      }
    }
  }
}

.Home {
  .Home-Main {
    -moz-box-shadow: 0 0.1px 35px $black;
    -webkit-appearance: none !important;
    -webkit-box-shadow: 0 0.1px 35px $black;
    // background: $gray-hover;
    background: $gray-bg;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 35rem;
    justify-content: center;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    // z-index: 99;

    .home-left,
    .home-right {
      display: flex;
      flex-direction: column;
      width: 30rem;
    }

    .home-left {
      align-items: center;
      justify-content: center;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      // min-height: 30rem;

      h1 {
        margin: 20px;

        span {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-color: $white;
          -webkit-text-stroke-width: 1px;
          letter-spacing: 0.75em;
          position: relative;
          text-shadow: 2px 2px $blue, 5px 5px $black;
          transform: translate(-50%, -50%);
        }
      }
    }

    .home-right {
      align-items: center;
      justify-content: center;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      // min-height: 30rem;

      h3 {
        text-transform: uppercase;
      }
    }
  }

  .Home-Button {
    display: flex;
    flex-direction: row;
    height: 10rem;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    margin-top: 2rem;

    a {
      color: inherit;
      text-decoration: none;
      width: (100% / 3);
    }

    .left,
    .middle,
    .right {
      -moz-box-shadow: 0 0.1px 35px $black;
      -webkit-appearance: none !important;
      -webkit-box-shadow: 0 0.1px 35px $black;
      align-items: center;
      background: $gray-bg;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgb(0, 0, 0);
      cursor: pointer;
      display: flex;
      height: 10rem;
      justify-content: center;
      // z-index: 99;
    }

    .left {
      margin-right: 1rem;
    }

    .middle {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .right {
      margin-left: 1rem;
    }
  }
}

.About {
  @include base-card(35rem);

  h2 {
    text-align: center;

    span {
      font-family: Tahoma, Geneva, sans-serif;
    }
  }
}

.Skills {
  @include base-card(35rem);

  .Container {
    align-items: center;
    display: flex;
    // flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    // .Card {
    //   background: #414141;
    //   border-radius: 10px;
    //   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    //   // align-items: center;
    //   color: $black;
    //   display: flex;
    //   flex-direction: column;
    //   height: 300px;
    //   justify-content: center;
    //   // position: relative;
    //   text-align: center;
    //   width: 300px;
    //   z-index: 999;

    // .Circle {
    //   svg {
    //     height: 150px;
    //     position: relative;
    //     width: 150px;

    //     circle {
    //       fill: none;
    //       height: 150px;
    //       stroke: $black;
    //       stroke-dasharray: 440;
    //       stroke-dashoffset: 440;
    //       stroke-linecap: round;
    //       stroke-width: 10;
    //       transform: translate(5px, 5px);
    //       width: 150px;

    //       &:nth-child(1) {
    //         stroke: #838383;
    //         stroke-dashoffset: 0;
    //       }

    //       &:nth-child(2) {
    //         stroke: #00b6bd;
    //         stroke-dashoffset: calc(440 - (440 * 80) / 100);
    //       }
    //     }
    //   }

    //   .Percent {
    //     align-items: center;
    //     display: flex;
    //     height: 100%;
    //     justify-content: center;
    //     left: 0;
    //     position: absolute;
    //     top: 0;
    //     width: 100%;
    //   }
    // }
    // }

    li {
      font-family: Tahoma, Geneva, sans-serif;
      list-style: none;
      margin: 50px 0;
      position: relative;
      text-transform: uppercase;
      width: 40rem;

      &::before {
        background-color: rgba(54, 126, 223, 0.5);
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        border-radius: 1000px;
        box-shadow: 0 0 3px #2187e7b3;
        content: '';
        height: 10px;
        left: 0;
        position: absolute;
        top: calc(100% + 10px);
        width: 100%;
      }

      &::after {
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        background-color: rgba(54, 126, 223, 1);
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        border-radius: 1000px;
        box-shadow: 0 0 3px #2187e7b3;
        content: '';
        height: 10px;
        left: 0;
        position: absolute;
        top: calc(100% + 10px);
        width: 0;
      }

      &.java {
        &::after {
          animation-name: java;
        }

        @keyframes java {
          to {
            width: 85%;
          }
        }
      }

      &.spring {
        &::after {
          animation-name: spring;
        }

        @keyframes spring {
          to {
            width: 80%;
          }
        }
      }

      &.htmlcss {
        &::after {
          animation-name: htmlcss;
        }

        @keyframes htmlcss {
          to {
            width: 90%;
          }
        }
      }

      &.react {
        &::after {
          animation-name: react;
        }

        @keyframes react {
          to {
            width: 80%;
          }
        }
      }

      &.sass {
        &::after {
          animation-name: sass;
        }

        @keyframes sass {
          to {
            width: 88%;
          }
        }
      }
    }
  }
}

.Also_i_can {
  @include base-card(35rem);
}

.Contact {
  @include base-card(28rem);

  .Text {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: center;
    text-align: center;
    width: 100%;

    h1 {
      background: linear-gradient(
        to right,
        $salmon 0%,
        $salmon 3px,
        transparent 1px
      );
      background-repeat: repeat-x;
      background-size: 100%;
      color: $white;
      padding-left: 5px;
      text-decoration: none;

      &:hover {
        background: linear-gradient(
          to right,
          $salmon 0%,
          $salmon 10px,
          transparent
        );
        cursor: pointer;
      }
    }

    h3 {
      background: linear-gradient(
        to left,
        $salmon 0%,
        $salmon 3px,
        transparent 1px
      );
      background-repeat: repeat-x;
      background-size: 100%;
      color: $white;
      margin-top: 0;
      padding-right: 5px;
      text-decoration: none;

      &:hover {
        background: linear-gradient(
          to left,
          $salmon 0%,
          $salmon 10px,
          transparent
        );
        cursor: pointer;
      }
    }
  }

  .Icons {
    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 5rem;
    place-items: center;

    & > a {
      img {
        width: 45px;
      }
    }
  }
}

// RESPONSIVE FOR MOBILE SCREEN'S.
@media screen and (max-width: 768px) {
  .Navbar {
    .Brand {
      // display: flex;
      float: left;
      margin-left: 35px;
      // margin-top: 5px;
      // padding: 10px;

      img {
        width: 80px;
      }
    }

    .MenuButton {
      display: block;
      float: right;
      margin-right: 35px;
      padding: 38px 10px 0 0;
    }

    .Items {
      display: none;
    }
  }

  .Home {
    .Home-Main {
      @include base-card-mobile;

      .home-left,
      .home-right {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
      }
    }

    .Home-Button {
      @include base-card-mobile;

      height: fit-content;
      margin-top: 1rem;
      padding-top: 0;

      a {
        width: 100%;
      }

      .left,
      .middle,
      .right {
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      .left {
        margin-bottom: 0.5rem;
      }

      .middle {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }

      .right {
        margin-top: 0.5rem;
      }
    }
  }

  .About {
    @include base-card-mobile;
  }

  .Skills {
    @include base-card-mobile;

    .Container {
      li {
        width: 20rem;
      }
    }
  }

  .Also_i_can {
    @include base-card-mobile;
  }

  .Contact {
    @include base-card-mobile;

    .Text {
      height: 5rem;
    }

    .Icons {
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 3rem;

      a {
        img {
          width: 45px;
        }
      }
    }
  }
}

// RESPONSIVE FOR TABLET SCREEN'S.
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .Contact {
    .Text {
      height: 5rem;
    }

    .Icons {
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 4.5rem;

      a {
        img {
          width: 48px;
        }
      }
    }
  }
}

// ANIMATIONS
.opacityIn {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: opacityIn;
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInUp {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.circleFill {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: circleFill;
}

@keyframes circleFill {
  from {
    // stroke: #00b6bd;
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
  }
}

// SPINNER.
@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: Brand-spin infinite 20s linear;
  }
}

@keyframes Brand-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
